.forms h5 {
    margin: 0;
}

.input {
    margin: 1rem 0;
    width: 100%;
    border: 2px solid  rgb(51, 45, 45);
    height: 3rem;
    border-radius: 0.6rem;
    font-size: 20px;
}

div p {
   margin-top: 0;
    color: rgb(238, 111, 111);
}

.notValid {
    background-color: rgb(214, 174, 174);
    border: 2px solid rgb(226, 23, 23);
}